$primary-bg: #060d17;
$secondary-bg: #10161d;
$primary-txt: #dfdfdf;
$secondary-txt: #b9bdcc;
$tertiary-txt: #78a6b8;
$primary-btn-bg: #fbc500;
$primary-btn-bg-hover: #ddad00;
$primary-btn-txt: #000;
$secondary-btn-bg: #1c252f;
$secondary-btn-bg-hover: #314052;
$secondary-btn-txt: #fff;
$disabled-btn: #6e6e6e;
$approval-txt: #1abc9c;

$warning: #ffc107;
$danger: #de4040;
$success: #0ba332;

$light-shadow: rgba(0, 0, 0, 0.2);
$medium-shadow: rgba(0, 0, 0, 0.5);
$dark-shadow: rgba(0, 0, 0, 0.8);
$light-glow: rgba(255, 255, 255, 0.2);
$medium-glow: rgba(255, 255, 255, 0.5);
$bright-glow: rgba(255, 255, 255, 0.8);
