@use './' as *;

.animePage {
  background-color: $colors-primary-bg;
  min-height: 100vh;
  width: 100%;
}

.bannerContainer {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  @include mixins-display-flex();
}

.bgImgBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  opacity: .8;

  img {
    width: 100%
  }
}

.content {
  position: relative;
  z-index: 2;
  @include mixins-display-flex(center, stretch);
  gap: 15px;
  width: 60%;
  max-width: 1000px;
}

.posterImgBox {
  width: 33.33%;

  img {
    width: 100%;
    display: block;
  }
}

.infoContainer {
  width: 66.67%;
  @include mixins-display-flex(space-between, flex-start);
  flex-direction: column;
}

.title {
  font-size: 2em;
  color: $colors-primary-txt;
  margin-bottom: 10px;
}

.meta {
  font-size: .875em;
  font-weight: 500;
  margin-bottom: 10px;
  @include mixins-display-flex(flex-start);
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
  color: $colors-primary-txt; 
}

.otherInfo {
  background-color: $colors-dark-shadow;
  padding: 10px;
  box-shadow: 1px 3px 10px 4px $colors-medium-shadow;
  margin-bottom: 10px;

  .item {
    font-size: .875em;

    .name {
      font-weight: 500;
      color: $colors-primary-txt;
      margin-right: 3px;
    }

    .value {
      color: $colors-secondary-txt
    }
  }
}

.trailerBtn {
  @include mixins-display-flex();
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: $colors-primary-btn-bg;
  color: $colors-primary-btn-txt;
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: 5px 5px 10px $colors-medium-shadow;

  &:hover {
    background-color: $colors-primary-btn-bg-hover;
  }

  .playIcon {
    width: 25px;
    height: 25px;
  }
}

.detail {
  padding: 20px;
  margin-bottom: 10px;

  .detailTitle {
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    color: $colors-primary-txt;
  }
}

.synopsis {
  font-size: 1em;
  color: $colors-secondary-txt;
}