@use './' as *;

.app {
  position: relative;
  background-color: $colors-primary-bg;
  width: 100%;
  min-height: 100vh;
  @include mixins-display-flex();
  color: $colors-primary-txt;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  @include mixins-display-flex(center, flex-start);
  flex-direction: column;
  padding-left: 40px; 
  gap: 20px;
  z-index: 2;

  @include medias-media("phone") {
    padding-left: 10px; 
  }
}

.bannerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include mixins-display-flex();
  z-index: 1;
  opacity: 0.2;
  min-width: 1000px;
  min-height: 520px;

  @include medias-media("tablet") {
    justify-content: flex-start;
  }
}

.bannerImg {
  width: 100%;

  @include medias-media("tablet") {
    height: 100%;
    width: auto;
  }
}

.logo {
  color: $colors-primary-txt;
  font-size: 3em;
}

.description {
  color: $colors-secondary-txt;
  font-size: 1em;
}

.linkContainer {
  @include mixins-display-flex();
  flex-direction: column;
  gap: 5px;
}

.mainLink {
  width: 200px;
  height: 80px;
  background-color: $colors-primary-btn-bg;
  @include mixins-display-flex();
  text-decoration: none;
  color: $colors-primary-btn-txt;
  border-radius: 8px;
  transition: background 300ms ease-out;

  &:hover {
    background-color: $colors-primary-btn-bg-hover;
  }
}