@use '../../styles' as *;

.fixedBox {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: $colors-dark-shadow;
  z-index: 10; 
}

.card {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  height: 95vh;
  background-color: $colors-primary-bg;
  border-radius: 8px;
  max-width: 550px;

  @include medias-media('tablet') {
    width: 90%;
  }
}

.relativeBox {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 12px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}