@use '../../styles/' as *;

.container {
  @include mixins-display-flex();
  width: 220px;
  height: 40px;
  background-color: $colors-secondary-bg;
  padding: 10px 8px;
  border-radius: 6px;
  gap: 4px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  @include mixins-gray-filter();
}

.searchInput {
  width: 100%;
  background-color: transparent;
  color: $colors-secondary-txt;
  height: 100%;
  border: none;
  outline: none;
  font-size: .875em;
}