@use '../../styles/' as *;

.mediaPage {
  min-height: 100vh;
  width: 100%;
  background-color: $colors-primary-bg;
  color: $colors-primary-txt;
  overflow-y: hidden;
  @include mixins-display-flex(flex-start);
  flex-direction: column;
  padding-top: 70px;
}

.actions {
  @include mixins-display-flex(space-between);
  width: 100%;
  padding: 0px 30px;
}

.filtersBtn {
  @include mixins-display-flex();
  gap: 5px;
  font-size: .875em;
  font-weight: 500;
  color: $colors-primary-txt;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 4px;

  &:hover {
    background-color: $colors-light-shadow;
  }

  img {
    width: 20px;
    height: 20px;
    @include mixins-gray-filter();
  }
}

.medias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 25px;
  width: 100%;

  @include medias-media("desktop") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include medias-media("tablet") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include medias-media("phone") {
    grid-template-columns: repeat(1, 1fr);
  }
}