@use '../../styles/' as *;

.header {
  position: fixed;
  @include mixins-display-flex(space-between);
  width: 100%;
  padding: 15px 30px 15px 20px;
  top: 0;
  transition: top 300ms;
  background-color: $colors-primary-bg;
  z-index: 1000;

  &.hidden {
    top: -100px;
  }
}

.logo {
  font-size: 1.5em;
  color: $colors-primary-txt;
  text-decoration: none;
}

.linkList {
  @include mixins-display-flex();
  gap: 20px;

  a {
    list-style: none;
    text-decoration: none;
    color: $colors-secondary-txt;
    font-size: 1em;
    transition: color 300ms;

    &:hover {
      color: $colors-primary-txt;
    }

    &.active {
      color: $colors-primary-txt;
    }
  }
}